@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-base-background;
			font-family: Tahoma, Arial, Helvetica, sans-serif;
			font-size: 11px;
		}

}
@layer components {
	.window-title-bar {
		background: linear-gradient(180deg, #0997ff, #0053ee 8%, #0050ee 40%, #06f 88%, #06f 93%, #005bff 95%, #003dd7 96%, #003dd7);
		text-shadow: 1px 1px #0f1089;
		border-top: 1px solid #0831d9;
		border-left: 1px solid #0831d9;
		border-right: 1px solid #001ea0;
		border-top-left-radius: 8px;
		border-top-right-radius: 7px;
		letter-spacing: 0;
		font-weight: 700;
		font-size: 13px;
			color: white;
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		}
}